
.heading {
    text-align: center;
    font-size: x-large;
    background-color: white;
    border: hidden;
    border-radius: 0.2em;
    list-style-type: none;
     margin-left: 10%;
    margin-right: 10%;
    font-weight: bolder;   
}
.footer {
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    color: black;
}
body{
     background-color: rgb(172, 169, 165);
    font-size: x-large;
    margin-left: 5%;
   
    margin-right: 5%;
}
li {
    display: inline-block;
    text-align: center;
   
} 
.input-box {
    padding:5px;
    
}

input{ 
    width:60%; 
    border: blue solid 1px;
    border-radius: 0.2em;
    

} 
.centering {
    text-align: center;
}
h1 {
    border: hidden;
    border-radius: 0.3em;
    border:hidden lightseagreen solid 1px;
    font-size: xx-large;
}
.form {
    margin-left: 30%;
    margin-right:20%;
    background-color: white;
    border: lightgreen solid 1px;
    border-radius: 0.5em;
    
}
.section {
    
    margin-left: 10%;
   margin-right: 10%;
}
a {
    text-decoration: none;
}
.subheading {
    font-size: x-large;
    margin-right: 10%;
    margin-left: 10%;
    
}
ul {
    list-style-type: none;
}

@keyframes slider {
 0% {
     left: 0;
 }  
 20% {
     left: 0;
 } 
 25% {
     left: -100;
 }
 45% {
     left: -100;
 }

 50% {
    left: -200%;
 }
 70% {
     left: -200;
 }
 75% {
     left: -300;
 }
 95% {
     left: -400;
 }
 100% {
     left: -400;
 }

}
.slider {
  overflow: hidden;
  margin-left: 10%;
   margin-right: 10%;
   border: hidden;
   border-radius: 0.5em;
}
.slider figure  {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
   animation: 20s slider infinite;

}
.slider figure img {
    width: 20%;
    float: left;
}
.color-header {
    border: hidden;
    border-radius: 0.2em;
    
}
.centering ul li {
    color: brown;
}
.google-map-box {
    
    width: 100%;
}
.content-message {
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    
    background-color:white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
   border: hidden;
   border-radius: 0.2em;
   margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    display: inline-block;
    
}
.content:hover {
    
    background-color:lightcyan;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
   border: hidden;
   border-radius: 0.2em;
   margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    display: inline-block;
    
}
a:link {
    color: blue;
    }
a:visited {
    color: blue;
    }
a:hover {
    color:purple; 
    }
input, textarea {
        font    : .9em/1.5em "handwriting", sans-serif;
      
        border  : none;
        padding : 0 10px;
        margin  : 0;
        width   : 400px;
       border: blue solid 1px;
       border-radius: 0.2em;
        background: white;
      }
input:focus, textarea:focus  {
        background   : bisque;
        border-radius: 5px;
        outline      : none;
        border: hidden;
       border-radius: 0.2em;
       border: blue solid 1px;
      }
.form-text {
          color: black;
          font-weight: bold;

      }
 .style2 {
     font-size: medium;
     text-align: left;
    }
 button {
    font    : .9em/1.5em "handwriting", sans-serif;
      
    border: blue solid 1px;
    padding : 0 10px;
    margin  : 0;
    width   : 200px;
   border: hidden;
   border-radius: 0.2em;
    background:orange;
    font-weight: bolder;

 }
 button:focus {
    background   : bisque;
    border-radius: 5px;
    outline      : none;
    border: hidden;
   border-radius: 0.2em;
   font-weight: bolder;
 }
  .subheader-cu {
     
     color: black;
 }
 table {
     margin-right: 10%;
     margin-right: 10%;
     border: green solid 1px;
     border-radius: 0.5em;
     width: 100%;
     border: hidden;
     background-color: white;
 }
 table tr td img {
     width: 100px;
     height: 100px;
 }
 table tr td button {
     width: 100px;
     font-size: small;

 }
 table tr td h1 a:link {
     color: blue;
 }














