/* lfa */
html {
    margin: 0px;
}
body{
    margin-left: 0;
    margin-right: 0;
    margin:0px;
    font-family: sans-serif;
    line-height: 1.5rem;
}
.h1 {
    text-align: center;
}
.footer 
{
    background-color: #17264e;;
    position: relative;
    text-align: center;
    
}
.menu-bar-1 {
    margin-top: 0;
    font-weight: 400;;
    font-size: 1rem;
   
}
.logo {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.wel-msg {
    text-align: center;
    font-weight: 400;;
}
a {
    text-decoration: none;
}
@media(max-width:768px){
  


 


   @media(max-width:874px){
   }
  
   @media(max-width:319px){
   
  
 
    }
   
   
 
   
    form {
        
        width: 100%;
    }
}



@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

* {
    box-sizing: border-box;
  }
  
  .image-column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  button{
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    width:100%; 
    margin-left:auto;
    margin-right:auto;
    border: 1px solid transparent;
    padding: 0.4rem 0.95rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    background-color: #2e4891;
    color: white;
}
  
  .image-row {
      margin: 0 -5px;
      
  }
  
  .image-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    text-align: center;
    margin: 2%;
    background-color: rgb(226, 223, 223);
  }

  .image-card-container {
      margin-top: 7rem;
      margin-left: 2%;
      margin-right: 2%;

  }

  .logo-text {
      
      font-size: 1.5rem;
      font-weight: 900;
      color: #f1f1f1; 
      margin-left: 100px;
  }
  .welcome-text-exp {
      text-align: center;
      color: white;
      font-weight: 500;
      
  }
 
  .welcome-text {
    font-size: 3rem;
    font-weight: 320; 
    text-align: center;;
    color: white;
 height: 30vh;
  }


  .image-card-text {
      text-align: center;
      font-size: 120%;
      font-weight: bold;
  }
  .menu-bar-1 p a {
      margin: 2%;


  }
  .menu-bar-1 p a:hover {
      color: rgb(53, 53, 83);
    margin: 2%;
}
  
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #223a7a;
    color: white;
    text-align: center;
 }
 .under-body-image {
     width: 150%; 
     margin: 3%;
     
 }

 .home-big-pic {
    margin: 3%;
     display: inline-flex;
 }
.forgot-pwd{
    margin-left: 60%;
}
 form {border: 3px solid #f1f1f1;
margin-left: 30%;
margin-top:10%;
margin-bottom:10%;
margin-right: 30%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border: hidden;
  border-radius: .2em;
  padding: 10px;
  background-color: #e8eefc;
}

.button-form {
  background-color: #2e4891;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #17264e;
}

.container {
  padding: 16px;
}
.home-big-pic-text h1 {
    color: rgb(21, 21, 126);
}
.center {
text-align: center;
}


.header{
    background:url('../images/bgg1.jpeg') no-repeat center center/cover;
    height:600px;
    width:100%;
    opacity: 1;

}
.navbar {
margin-left: 40%;

}
.navbar a {
    margin-left:5px;
    margin-right: 5px;
}
.menu-bar-2 {
    background-color: #223a7a;
    font-weight: 900;
}
.button a{
    color: #f1f1f1;
}
a:visited  {
    color: #f1f1f1;
}
button a {
    color: #f1f1f1;
}
a:link {
    color: #f1f1f1;
}
form button  a:visited {
    color: white;
}
form   a:visited {
    color: blue;
}


.menu-bar-2 a {
    color: #f1f1f1;
}
 .menu-bar-2 a:hover {
    color: #f0e2e2;
    font-weight: 900;
}
.menu-bar-3 {
    color: #f0e2e2;
    font-weight: 900;
}
.createads-form {
   margin:150px;
  
}
form {
     border-radius: .5em;
    
}
.container {
	padding: 1%;
	}
.header-specific,
.footer {
	display: flex;
	justify-content: center;
	padding: 10px;
    height: auto;
    }
    
.content {
	display: flex;
	}
.main {
    background:url('../images/bgg2.jpg') no-repeat center center/cover;
	flex-grow: 1;
	height: 500px;
	margin-right: 10px;
	padding: 10px;

    }
    .menu-bar-1 .logo-text {
        text-align: center;
    }
    fieldset {
        padding: 15px;
     
    }
     .main-text {
        border: black solid 1px;
        border-radius: 1.5em;
        background-color: rgb(253, 253, 255);
        margin-right: 80%;
        color: green;
        font-weight: 900;
        text-align: center;
    }
.aside {
	width: 300px;
	padding: 10px;
	}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 10px;
	}
@media screen and (max-width: 1000px) {
	.content {
		flex-direction: column-reverse;
		}
	.main {
		margin-right: 0px;
		}
	.aside {
		width: auto;
		}
	.side_ot {
		display: none;
		}
	}
.responsive {
    width: 100%;
    margin: 0;
    display:inline-flex;

  }
  .div1-house {
      width: 45%;
      margin-left: 0;
  }
  .description {
      width: 45%;
      margin-left:46%; 
  }
  #house-type {
      width: 23rem;
      margin-left: 23rem;
      margin-right: 23rem;
      height: 5vh;
  }
  .select-property {
      background-color: #e4e7ee;
      padding: 25px;
  }
  .search {
      position: absolute;
      margin-top: 20rem;
      width: 30rem;
     margin-left: 30rem;
     margin-right: 30rem;
  }
 

 
  

